.bottomhalf{
    padding:0 2rem;
}

.bottomhalf div:nth-of-type(1){
    align-self: flex-start;
}

@media (min-width:600px){
   .bottomhalf{
      height:100%;
      width:100%;
      /* border: 1px solid blue; */
      display:flex;
      flex-direction: column;
      justify-content: center;
   }
}

@media (min-width:1440px){
    .bottomhalf{
        width:50%;
        font-size: 2.5rem;
        padding:0 2.5rem;
        gap:2rem;
    }
}
.bottomhalf div{
    display: flex;
    margin:1rem 0;
}


.bottomhalf div span:nth-child(odd){
    display: flex;
    align-items: center;
    
}

.bottomhalf div span svg{
    margin-right:0.7rem;
}

.bottomhalf div span{
    flex:1;
}

.bottomhalf div span:nth-child(even){
    text-align:right;
    /* border: 1px solid red; */
}

.bottomhalf div[class]{
    padding:0.5rem 0.3rem;
    border-radius: 10px;
}

.bottomhalf div[class] span:last-child{
    /* border: 1px solid black; */
    color:var(--Dark-gray-blue);
}

@media (min-width:1440px){
    .bottomhalf div[class]{
        padding:1rem 2rem;
        border-radius: 10px;
        font-size:2rem;
    }
}
.react{
    background-color: hsla(0, 100%, 67%, 0.15);
    color:var(--Light-red);
}

.memory{
    color: var(--Orangey-yellow);
    background-color: hsla(39,200%,59%,0.15);
}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.15);
    color:var(--Green-teal);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.15);
    color:var(--Cobalt-blue);
}

.bottomhalf > :last-child{
    display: block;
    padding:1rem 0.3rem;
    border-radius: 40px;
    text-align: center;
    color:var(--White);
    background-color: var(--Dark-gray-blue);
}

.bottomhalf > :last-child:hover{
    background: linear-gradient(
        var(--Violet-blue-circle),
        var(--Persian-blue-circle)
    );
}

@media (min-width:1440px){
    .bottomhalf > :last-child{
        font-size: 1.5rem;
        margin:0.5rem 0;
        padding:1.5rem 1rem;
    }
}