@media (min-width:600px){
   .container{
      width:70vw;
      height:60vw;
      display:flex;
      box-shadow: 30px 30px 70px #C4C4C4 ;
      border-radius:40px;
   }
   
   body{
      height:100vh;
      display:flex;
      justify-content: center;
      align-items:center;
   }
   
}
